@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-container {
    @apply max-w-amulette px-5 md:px-10 lg:px-amulette amulette:px-0 mx-auto;
  }
}

html,
body {
	margin: 0;
	padding: 0;
}

/* fore header */
.active-header span {
	display: block;
}

.inactive-header > span {
	display: none;
}
/* ----------- Product Details Scrollbar ------  */
/* product-details */
.product-details::-webkit-scrollbar,
.product-details-right::-webkit-scrollbar {
  width: 5px;
	border-radius: 40px;
}

.product-details::-webkit-scrollbar-track,
.product-details-right::-webkit-scrollbar-track {
  background: #f3f3f3;
	border-radius: 40px;
}

.product-details::-webkit-scrollbar-thumb,
.product-details-right::-webkit-scrollbar-thumb {
  background: #ea5a0cc5;
	border-radius: 40px;
}

.product-details::-webkit-scrollbar-thumb:hover,
.product-details-right::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}

/* --------------------------------------- */
/* for animation of mobile navigation start */
.mobile-nav-open {
	animation: mobileNavOpenAnm 500ms ease-in-out;
}

@keyframes mobileNavOpenAnm {
	0% {
		opacity: 0;
		height: 0;
	}
	1% {
		opacity: 0;
		height: 100vh;
	}
	100% {
		opacity: 1;
		height: 100vh;
	}
}
.mobile-nav-close {
	display: none;
	animation: mobileNavCloseAnm 500ms ease-in-out;
}
@keyframes mobileNavCloseAnm {
	0% {
		display: block;
		opacity: 1;
		height: 100vh;
	}
	99% {
		display: block;
		opacity: 0;
		height: 100vh;
	}
	100% {
		display: block;
		opacity: 0;
		height: 0;
	}
}
/* for animation of mobile navigation end */

/* for animation of sidebar start */
.active-sidebar-open {
	animation: sideBarOpenAnimation 500ms ease-in-out;
}

@keyframes sideBarOpenAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.inactive-sidebar-open {
	display: none;
	animation: sidebarCloseAnimation 500ms ease-in-out;
}
@keyframes sidebarCloseAnimation {
	0% {
		opacity: 1;
		display: block;
	}
	100% {
		opacity: 0;
		display: block;
	}
}
/* for animation of sidebar end */
/* --------------------------------------- */


@media screen and (max-width: 370px) {
	.email-subscribe {
		flex-direction: column;
	}
	.email-subscribe input {
		width: 100%;
	}
	.email-subscribe button {
		width: 100% !important;
		margin-top: 10px;
		margin-left: 0px !important;
	}
	.stay-with-us {
		padding: 4px;
	}
}
